body
{
    background-size: cover;
}

.heading
{
font-size: 24px;
width: 100%;
margin: 0px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.button1{
    color: white;
    background-color: gray;
    font-size: 20;
}

.button2{
    color: white;
    background-color: gray;
    font-size: 20;
}

.button3{
    color: white;
    background-color: gray;
    font-size: 20;
}

.button4{
    color: white;
    background-color: gray;
    font-size: 20;
}

.button5{
    color: white;
    background-color: gray;
    font-size: 20;
}